* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: googlesans;
}
/*BACKGROUND ANIMATION BACKGROUND ANIMATION BACKGROUND ANIMATION BACKGROUND ANIMATION*/
/*BACKGROUND ANIMATION BACKGROUND ANIMATION BACKGROUND ANIMATION BACKGROUND ANIMATION*/
/*BACKGROUND ANIMATION BACKGROUND ANIMATION BACKGROUND ANIMATION BACKGROUND ANIMATION*/
/*BACKGROUND ANIMATION BACKGROUND ANIMATION BACKGROUND ANIMATION BACKGROUND ANIMATION*/


section {
    height: 100vh;
    position: fixed;
    opacity: 0.5;
    z-index: -1;
}

span {
    position: absolute;
    pointer-events: none;
    background: #fff;
    border-radius: 5px;
    animation: animate 5s ease infinite;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}




/*FOOTER MENU FOOTER MENU FOOTER MENU FOOTER MENU FOOTER MENU*/
/*FOOTER MENU FOOTER MENU FOOTER MENU FOOTER MENU FOOTER MENU*/
/*FOOTER MENU FOOTER MENU FOOTER MENU FOOTER MENU FOOTER MENU*/
/*FOOTER MENU FOOTER MENU FOOTER MENU FOOTER MENU FOOTER MENU*/
div.menu {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.753);
    z-index: 999;
}
div.items {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
}
div.item {
    width: calc(100%/5);
    border: 1px solid black;
}
div.menu div.items div.item a {
    display: block;
    transition: 0.4s;
    text-align: center;
    text-decoration: none;
    padding: 15px 0px;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    border: 1px solid black;
}
div.menu div.items div.item a:hover, .active {
    background: rgb(248, 36, 36);
    color: white;
}


/*WELCOME TEXT WELCOME TEXT WELCOME TEXT WELCOME TEXT*/
/*WELCOME TEXT WELCOME TEXT WELCOME TEXT WELCOME TEXT*/
/*WELCOME TEXT WELCOME TEXT WELCOME TEXT WELCOME TEXT*/
/*WELCOME TEXT WELCOME TEXT WELCOME TEXT WELCOME TEXT*/
div.welcome-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    font-size: 50px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.sub-title {
    position: relative;
    font-size: 16.8px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}



/*PRE LOADER PRE LOADER PRE LOADER PRE LOADER PRE LOADER PRE LOADER*/
/*PRE LOADER PRE LOADER PRE LOADER PRE LOADER PRE LOADER PRE LOADER*/

div.preloader {
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
    position: fixed;
    display: flex;
    justify-content: center;
    animation-fill-mode: forwards;
}
div.load {
    height: 280px;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    align-items: center;
}
div.box {
    height: 90px;
    width: 90px;
    background: black;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    color: white;
    font-size: 200%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: box 1s 0s ease infinite;
    animation-fill-mode: forwards;
    border: 1px solid white;
}


div.box4, div.box8 {
    animation-delay: 0.1s;
}
div.box1, div.box5, div.box9 {
    animation-delay: 0.2s;
}
div.box2, div.box6 {
    animation-delay: 0.3s;
}
div.box3 {
    animation-delay: 0.4s;
}







/*BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT*/
/*BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT*/
/*BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT*/
/*BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT*/

.container {
    position: relative;
    border-radius: 7px;
    width: 80%;
    margin: 0 auto;
    opacity: 0.9;
    padding: 5px;
    margin-top: 20px;
}
.full {
    min-height: 100vh;
}

div.first-section {
    margin: 20px auto;
    border-radius: 7px;
    margin-bottom: 70px;
}
div.first-section h1 {
    text-align: center;
    padding: 10px;
}
div.programming-content {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a.content {
    color: white;
    text-decoration: none;
    height: 200px;
    width: 200px;
    background: gray;
    border-radius: 10px;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    margin: 5px;
    text-transform: uppercase;
    transition: 0.3s;
    border: 3px solid black;
}
a.content:hover {
    background: rgb(48, 48, 48);
    border-color: rgb(145, 27, 241);
    color: rgb(27, 241, 195);
    font-size: 38px;
}






div.language {
    background: rgba(0, 0, 0, 0.295);
    float: right;
    width: 100px;
    border-radius: 7px;
    overflow: hidden;
}
b#lang {
    display: block;
    color: white;
    height: 20px;
    font-family: googlesans, sans-serif;
    font-size: 16px;
    padding: 2px;
    transition: 0.5s;
}
div.switch {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.bar {
    height: 30px;
    width: 80px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.747);
    background: rgb(133, 38, 241);
    cursor: pointer;
    transition: 0.5s;
}

div.dot {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    transform: translateX(0px);
    margin: 1px;
    background: rgb(76, 219, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: 0.5s;
}

/*SECTION 1 SECTION 1 SECTION 1 SECTION 1 SECTION 1 SECTION 1*/
div.section1 {
    padding: 3%;
    background: linear-gradient(60deg, orangered , green , yellow);
}
div.section1 h1, div.section2 h1 {
    font-size: 250%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.74);
}
div.section1 p, div.section2 p {
    font-size: 150%;
    text-shadow: 1px 2px 5px rgb(0, 0, 0);
}
div.section2 h1 {
    color: yellow;
}


div.section2 {
    margin-top: 20px;
    border-radius: 7px;
    padding: 3%;
    background: linear-gradient(60deg, purple 50%, limegreen 50%);
}



/*OTHERS CONTENT OTHERS CONTENT OTHERS CONTENT OTHERS CONTENT OTHERS CONTENT*/
/*OTHERS CONTENT OTHERS CONTENT OTHERS CONTENT OTHERS CONTENT OTHERS CONTENT*/
/*OTHERS CONTENT OTHERS CONTENT OTHERS CONTENT OTHERS CONTENT OTHERS CONTENT*/
/*OTHERS CONTENT OTHERS CONTENT OTHERS CONTENT OTHERS CONTENT OTHERS CONTENT*/


h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.74);
}
p {
    font-size: 120%;
    text-shadow: 1px 2px 5px rgb(0, 0, 0);
}

.bg-red {
    background-color: red;
}
.bg-violet {
    background-color: rgb(145, 27, 241);
}
.bg-blue {
    background-color: rgb(58, 141, 250);
}
.bg-yellow {
    background-color: rgb(214, 230, 3);
}
.bg-green {
    background-color: rgb(21, 202, 51);
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalized {
    text-transform: capitalize;
}
.orange {
    color: orangered;
}
.black {
    color: black;
}
.white {
    color: rgb(255, 255, 255);
}


@font-face {
    font-family: googlesans;
    src: url('../fonts/Souravs\ sans.ttf');
}