
body {
    width: 100%;
    background-size: cover;
    background: linear-gradient(40deg, purple, green, yellow);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1.mainc {
    color: white;
    font-size: 200%;
    font-family: 'oswald', sans-serif;
    text-align: center;
}
div.intro {
    background-color: rgba(0, 0, 0, 0.212);
}
div.slide-box {
    padding: 10px;
}
div.slide-title {
    font-size: 120%;
}
div.slide-des {
    font-size: 90%;
}
div.slide-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}
.s-link {
    display: inline;
    padding: 15px;
    background: white;
    color: black;
    border: 1px solid black;
    font-size: 120%;
    cursor: pointer;
    transition: 0.3s;
}
div.af {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
div.bf {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
div.slide-container {
    width: 100%;
    overflow: hidden;
}
div.slide-view {
    display: flex;
    transition: 0.5s;
}
.sv-100 {
    width: 100%;
}
.sv-200 {
    width: 200%;
}
.sv-300 {
    width: 300%;
}
.sv-400 {
    width: 400%;
}
.sv-500 {
    width: 500%;
}
.slide-page {
    color: white;
    width: 100%;
    float: right;
    padding: 10px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.548);
    border-radius: 17px;
    max-height: 80vh;
    overflow: auto;
}


.active, .s-link:hover {
    background: red;
    color: white;
}
div.table-pills{
    width: 100%;
    overflow: auto;
}
div.table-pills table {
    width: 100%;
}
.table-pill tr td {
    text-align: center;
    padding: 10px;
    background: linear-gradient(40deg, rgba(28, 207, 67, 0.822) 50%, rgba(248, 21, 21, 0.815) 50%);
    font-size: 150%;
    border-radius: 3px;
    color: white;
    text-shadow: 2px 3px 4px black;
}